{% extends 'base.html.twig' %}

{% block body %}
  
    
    <div class="container">
                    
            
        <div class="row top">    
            <div class="col s8">
                <p> Répondre à nb d'invitation ... </p>
                <a href="">Afficher les invitations envoyées</a>
            </div>
            <div class="col s4 right">
                <form>
                     <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Chercher un utilisateur</label>
                      </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="card">
               
            </div>
        </div>
    </div>

{% endblock %}

