

<div id="oModal" class="oModal">
  <div>
    <header>
      <a href="#fermer" title="Fermer la fenêtre" class="droite">X</a>
     </header>
     <section>


    <div class="row">
        <div  class="col s12 center-align">
                <div class="left-align">
                       {{ form_start(form) }}
                            {{ form_rest(form) }}
                            <div class="right">
                                <button class="btn-large" type="submit">Valider</button>
                            </div>
                        {{ form_end(form) }}
                </div>
        </div>
    </div>
    
     </section>
  </div>
</div>

    