




    <div class="row">
        <div  class="col s12 center-align">
            <form method="POST" action="{{path('membre_profil')}}">
                <div class="left-align">
                        <div>
                            <label>E-mail</label>
                            <input type="text" name="email">
                        </div>
                        <div>
                            <label>Mot de passe</label>
                            <input type="text" name="mdp">
                        </div>
                </div>
                <div class="right-align">
                    <button class="btn waves-effect waves-light" type="submit">valider</button>
                </div>
            </form>
        </div>
    </div>
    

