{% extends 'base.html.twig' %}

{% block body %}

    <div class="row top">
        <div  class="col s4 center">
        </div>
        <div  class="col s4 center">
            <div class="card">
                <div class="card-content">
                       <p><b>Se connecter à votre compte</b></p>
                       <hr>
                       {{ form_start(form) }}
                            {{ form_rest(form) }}
                                <button class="waves-effect waves-light btn" type="submit">Connexion</button>
                        {{ form_end(form) }}
                        <br>
                        <div class="col s6 "><a class="waves-effect waves-teal" href="">Créer un compte</a></div>
                        <div class="col s6 "><a class="waves-effect waves-teal">Mot de passe oublié</a></div>
                        <br>
                </div>
            </div>
        </div>
        <div  class="col s4 center">
        </div> 
    </div>
    

{% endblock %}
    