{% extends 'base.html.twig' %}

{% block title %}
   Administration
{% endblock %}

{% block body %}
   
    <div class="container">
        <div class="row">
		<div id="content">
			<div id="qst1" class="plot" align="center"></div>
		</div>
        </div>
    </div>
{% endblock %}
