{% extends 'base.html.twig' %}

{% block title %}
   Administration
{% endblock %}

{% block body %}
   <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <div class="container">
        <div class="row">
            <div class="col m12 col s12 col xs12">
                    
            </div>
        </div>
        <div class="row">
            <div class="col m12 col s12 col xs12">
                    <div id="content">
                        <div id="chart2" class="plot" align="center">
                        </div>
                    </div>
            </div>
        </div>
    </div>
   <div class="container">
          <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
   </div>
   <div class="container">
          <div id="container3" style="min-width: 410px; min-width: 600px; height: 400px; margin: 0 auto"></div>
   </div>
    <div class="container">
          <div id="container4" style="min-width: 410px; min-width: 600px; height: 400px; margin: 0 auto"></div>
   </div>
    <div class="container">
          <div id="container5" style="min-width: 410px; min-width: 600px; height: 400px; margin: 0 auto"></div>
   </div>
    <script  type="text/javascript">
        
    </script>
{% endblock %}
