{% extends 'base.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col s8">
           <div class="myContainer justify">
                <div id="">
                    <p>
                        {{ concept }}
                    </p>
                </div>
           </div>
        </div>
        <div  class="col s4 right-align">
            {% if id_membre == null %}
                <div class="card">
                    <div class="card-content">
                        {{ form_start(email) }}
                            <div class="left-align">
                                <p>Inscrez-vous :</p><br>
                                {{ form_rest(email)}}
                            </div>
                            <div class="right-align">
                                <button class="btn waves-effect waves-light" type="submit">Ok</button>
                            </div>
                        {{ form_end(email)}}
                    </div>
                </div>
            {% endif %}
        </div>
        <div  class="col s12">
            <div  class="col s8">
            </div>
            <div  class="col s4 right-align">
                    <div class="card">
                        <div class="card-content">
                           #menu flotant
                           <br>
                           prochain salon :
                           <br> A ajouter par gaetan
                        </div>
                    </div>
            </div>
        </div>
        <div class="col s12">
            <hr>
        </div>
        <div class="col s12">
            <p><b>A la une :</b></p>
        </div>
        <div class="col s12">
            <hr>
        </div>
        <div class="col s12">
            <p><b>Nous Contactez :</b></p>
        </div>
    </div>
    
{% endblock %}

