{% extends "::base.html.twig" %}

{% block title %}EntityBundle:Static:view{% endblock %}

{% block body %}
    <div class="container margin-top">
        <div class="row">
            <h3 class="titleS">{{ page.getName() }}</h3>
            <div class="content">
                {{ page.getContent() }}
            </div>
        </div>
    </div>

{% endblock %}
