{% extends "::base.html.twig" %}

{% block title %}EntityBundle:entity:frontview{% endblock %}

{% block body %}
<h1>Welcome to the entity:frontview page</h1>
    <table>


    </table>
{% endblock %}
