{% extends 'base.html.twig' %}

{% block title %}
    Contenu
{% endblock %}


{% block body %}
    <div class="row margin-top">
        <div class="col l12 col m12 col s12 col xs12">
            <div class="container">
                {% for categorie in categories %}
                    <div class="col l3 col m6">
                        <a href="{{ path("search", {"id":categorie.id}) }}">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col s5">
                                            <i class="material-icons white-text medium">book</i>
                                        </div>
                                        <div class="col s7">
                                            <div class="huge"> {{ categorie_products[categorie.id] | length }}</div>
                                            <div>{{ categorie.name }}</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="left brown-text lighten-1">Details</span>
                                        <span class="right"><i class="material-icons brown-text lighten-1 tiny">arrow
                                                forward</i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
