{% extends 'base.html.twig' %}

{% block title %}
   Contenu
{% endblock %}


{% block body %}
    <div class="row margin-top">
        <div class="col l12 col m12 col s12 col xs12">
            <div class="container">
                <div class="col l3 col m6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <div class="row">
                               <div class="col s5">
                                    <i class="material-icons white-text medium">album</i>
                               </div>
                               <div class="col s7">
                                    <div class="huge"> 89</div>
                                    <div>CD</div>
                                </div>
                            </div>
                       </div>
                       <a href="#">
                           <div class="panel-footer">
                                <span class="left brown-text lighten-1">Details</span>
                                <span class="right"><i class="material-icons brown-text lighten-1 tiny">arrow forward</i></span>
                                <div class="clearfix"></div>
                           </div>
                        </a>
                   </div>
                </div>
                <div class="col l3 col m6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <div class="row">
                               <div class="col s5">
                                    <i class="material-icons white-text medium">book</i>
                               </div>
                               <div class="col s7">
                                    <div class="huge"> 89</div>
                                    <div>Livre</div>
                                </div>
                            </div>
                       </div>
                       <a href="#">
                           <div class="panel-footer">
                                <span class="left  brown-text lighten-1">Details</span>
                                <span class="right"><i class="material-icons brown-text lighten-1 tiny">arrow forward</i></span>
                                <div class="clearfix"></div>
                           </div>
                        </a>
                   </div>
                </div>
                <div class="col l3 col m6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <div class="row">
                               <div class="col s5">
                                    <i class="material-icons white-text medium">games</i>
                               </div>
                               <div class="col s7">
                                    <div class="huge"> 89</div>
                                    <div>Game</div>
                                </div>
                            </div>
                       </div>
                       <a href="#">
                            <div class="panel-footer">
                                <span class="left  brown-text lighten-1">Details</span>
                                <span class="right"><i class="material-icons brown-text lighten-1 tiny">arrow forward</i></span>
                                <div class="clearfix"></div>
                           </div>
                        </a>
                   </div>
                </div>
                <div class="col l3 col m6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <div class="row">
                               <div class="col s5">
                                    <i class="material-icons white-text medium">movie</i>
                               </div>
                               <div class="col s7">
                                    <div class="huge"> 89</div>
                                    <div>Movies</div>
                                </div>
                            </div>
                       </div>
                       <a href="#">
                            <div class="panel-footer">
                                <span class="left  brown-text lighten-1"> Details</span>
                                <span class="right"><i class="material-icons brown-text lighten-1 tiny">arrow forward</i></span>
                                <div class="clearfix"></div>
                           </div>
                        </a>
                   </div>
                </div>
            </div>
        </div>
     </div>
 </div>



{% endblock %}
